<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">엔씨엔지니어링</div>
    </a>

    <hr class="sidebar-divider my-0" />

    <li class="nav-item active">
        <a class="nav-link" href="/main">
            <i class="fas fa-fw fa-desktop"></i>
            <span>대시보드</span></a>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        홈페이지 관리
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>내 설정</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">프로필</a>
                <a class="collapse-item" href="buttons.html">비밀번호 재설정</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Site"
            aria-expanded="true" aria-controls="Site">
            <i class="fas fa-fw fa-wrench"></i>
            <span>사이트정보</span>
        </a>
        <div id="Site" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">기업정보</a>
                <a class="collapse-item" href="cards.html">이용약관</a>
                <a class="collapse-item" href="buttons.html">개인정보 처리방침</a>
                <a class="collapse-item" href="buttons.html">자주묻는질문</a>
                <a class="collapse-item" href="buttons.html">하단정보</a>
            </div>
        </div>
    </li>

    <li class="nav-item d-none">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-user"></i>
            <span>회원관리</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="buttons.html">회원목록</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
        제품 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-list"></i>
            <span>제품목록</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />

    <div class="sidebar-heading">
        고객 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-list"></i>
            <span>문의목록</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />

    <div class="sidebar-heading">
        게시글 관리
    </div>

    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-list"></i>
            <span>공지사항</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block" />

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>