<div class="site-header__header-one-wrap clearfix">


    <header class="main-nav__header-one">
        <div class="container">
            <nav class="header-navigation one stricky">
                <div class="container-box clearfix">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="main-nav__left main-nav__left_one float-left">
                        <div class="logo_one">
                            <a href="/" class="main-nav__logo">
                                <img src="assets/images/resources/logo.png" class="main-logo"
                                    alt="Awesome Image">
                            </a>
                        </div>
                        <a href="#" class="side-menu__toggler">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>

                    <div class="main-nav__main-navigation one float-right">
                        <ul class="main-nav__navigation-box float-left">
                            <% let className = 'current' %>
                            <li class="gnb-depth-1 <%= (pagecategory == 'main') ? className : '' %>">
                                <a href="/">Home</a>
                            </li>
                            <li class="gnb-depth-1 <%= (pagecategory == 'about') ? className : '' %>">
                                <a href="/about">NCENG</a>
                            </li>
                            <li class="gnb-depth-1 dropdown">
                                <a href="#">Product</a>
                                <ul>
                                    <li><a href="blog.html">전자 시험기</a></li>
                                    <li><a href="blog.html">중력 시험기</a></li>
                                    <li><a href="blog.html">최첨단 시험기</a></li>
                                </ul><!-- /.sub-menu -->
                            </li>
                            <li class="gnb-depth-1 dropdown">
                                <a href="#">Notice</a>
                                <ul>
                                    <li><a href="services-details.html">공지사항</a></li>
                                    <li><a href="services.html">FAQ</a></li>
                                </ul><!-- /.sub-menu -->
                            </li>
                            <li class="gnb-depth-1 <%= (pagecategory == 'contact') ? className : '' %>">
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                        <div class="main-nav__right main-nav__right_one float-left">
                            <div class="header_btn_1">
                                <a href="/contact">문의하기</a>
                            </div>
                        </div>
                    </div><!-- /.navbar-collapse -->

                </div>
            </nav>
        </div>
    </header>
</div>