<%- include ('partials/header') %>

<!--Page Header Start-->
<section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Contact</span></li>
        </ul>
        <h2>문의하기</h2>
    </div>
</section>

<!--All Contact Info Start-->
<section class="all_contact_info" style="background-color:#f6f6f6;">
    <div class="container">
        <div class="all_contact_info_inner">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <!--All Contact Info Single-->
                    <div class="all_contact_info_single mail_info">
                        <div class="icon"><span class="flaticon-email"></span></div>
                        <div class="content">
                            <a href="mailto:example@gmail.com">example@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--All Contact Info Single-->
                    <div class="all_contact_info_single phone_info">
                        <div class="icon"><span class="flaticon-telephone"></span></div>
                        <div class="content">
                            <a href="tel:010-0000-0000">010-0000-0000</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--All Contact Info Single-->
                    <div class="all_contact_info_single location_info">
                        <div class="icon"><span class="flaticon-pin"></span></div>
                        <div class="content">
                            <p>서울특별시 관악구 남부순환로 000길</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 <!--Contact One Start-->
 <section class="contact-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="contact_one_left">
                    <div class="block-title text-left">
                        <h4>Contact With Us</h4>
                        <h2>NC엔지니어링은 언제나 열려있습니다.</h2>
                    </div>
                    <div class="contact_one_left-text">
                        <p>
                            문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?문의사항이 있으신가요?
                        </p>
                    </div>
                    <!-- <div class="contact_one_left__social">
                        <a href="#" class="tw-clr"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="fb-clr"><i class="fab fa-facebook-square"></i></a>
                        <a href="#" class="dr-clr"><i class="fab fa-dribbble"></i></a>
                        <a href="#" class="ins-clr"><i class="fab fa-instagram"></i></a>
                    </div> -->
                </div>
            </div>
            <div class="col-xl-7">
                <div class="contact-one__form__wrap">
                    <form action="" class="contact-one__form contact-form-validated">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="name" placeholder="성함">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="email" name="email" placeholder="이메일">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Phone" placeholder="전화번호">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" name="Subject" placeholder="제목">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <textarea name="message" placeholder="문의 내용을 입력해주세요"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-group contact__btn">
                                    <button type="submit" class="thm-btn contact-one__btn">문의 등록하기</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Google Map-->
<section class="google_map two">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
        class="google-map__contact" allowfullscreen></iframe>

</section>


<%- include ('partials/footer') %>

<script src="assets/js/theme.js"></script>