<%- include ('partials/header') %>

<!--Page Header Start-->
<section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>FAQ</span></li>
        </ul>
        <h2>자주묻는질문</h2>
    </div>
</section>

<!--Service Details Start-->
<section class="services_details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="services_details_right">
                    <div class="services_details_right_text">
                        <h4>Petroleum and Gas</h4>
                        <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui
                            dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta
                            sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit
                            amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries. Lorem Ipsum is simply dummy
                            text of the new design printng and type setting Ipsum Take a look at our round up of
                            the best shows coming soon to your telly box has been the is industrys. Lorem Ipsum
                            is simply dummy text of the printing and typesetting industry. </p>
                    </div>
                    <div class="services_details_why_choose_us">
                        <div class="services_details_why_choose_us_content">
                            <h3>Why Choose Us?</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-check"></i>Refresing to get such a touch</li>
                                <li><i class="fa fa-check"></i>Duis aute irure dolor in in voluptate</li>
                                <li><i class="fa fa-check"></i>Velit esse cillum eu fugiat pariatur</li>
                                <li><i class="fa fa-check"></i>Duis aute irure dolor in in voluptate</li>
                            </ul>
                        </div>
                        <div class="services_details_why_choose_us_image">
                            <img src="assets/images/service/ser-dtl-choose-img-1.jpg" alt="">
                        </div>
                    </div>
                    <div class="faq_one_right">
                        <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Leaders always look toward the future</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but the majority
                                            have in that some form by injected randomised words which don’t look
                                            even as slightly believable now.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Leaders always look toward the future</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but the majority
                                            have in that some form by injected randomised words which don’t look
                                            even as slightly believable now.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>Check benefits of choosing our services?</h4>
                                </div>
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>There are many variations of passages of available but the majority
                                            have in that some form by injected randomised words which don’t look
                                            even as slightly believable now.</p>
                                    </div><!-- /.inner -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<%- include ('partials/footer') %>

<script src="assets/js/theme.js"></script>