<%- include ('partials/header') %>

<!--Page Header Start-->
<section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Notice</span></li>
        </ul>
        <h2>공지사항</h2>
    </div>
</section>

<!--Blog One Start-->
<section class="blog_one blog-page">
    <div class="container">
        <div class="row">

            <div class="col-xl-4 col-lg-4">
                <!--Blog One Single-->
                <div class="blog_one_single wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="blog_one_image">
                        <img src="assets/images/blog/blog--page-img-1.jpg" alt="">
                        <div class="blog_one_date_box">
                            <p>20 <br> Oct</p>
                        </div>
                    </div>
                    <div class="blog-one__content">
                        <ul class="list-unstyled blog-one__meta">
                            <li><a href="/noticedetail"><i class="far fa-user-circle"></i> 운영자</a></li>
                            <li><a href="/noticedetail"><i class="far fa-calendar"></i> 2021-01-01</a>
                            </li>
                        </ul>
                        <div class="blog_one_title">
                            <h3>
                                <a href="/noticedetail">
                                     NCENG홈페이지가 오픈되었습니다.
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="text-center blog-page__load-more">
            <a href="javascript: void(0);" class="thm-btn">더 불러오기</a>
        </div>
    </div>
</section>


<%- include ('partials/footer') %>

<script src="assets/js/theme.js"></script>