<%- include ('partials/header') %>

<!--Page Header Start-->
<section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Notice</span></li>
        </ul>
        <h2>공지사항</h2>
    </div>
</section>

<!--Blog One Start-->
<section class="blog_details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="blog_details_left">
                    <div class="blog_details_content">
                        <ul class="list-unstyled blog-details__meta">
                            <li><a href="#"><i class="far fa-user-circle"></i> 운영자</a></li>
                            <li><a href="#"><i class="far fa-calendar"></i> 2021-01-01</a></li>
                        </ul>
                        <div class="blog_details_title">
                            <h3>NCENG홈페이지가 오픈되었습니다</h3>
                        </div>
                        <div class="blog_details_text">
                            <p class="text-1">There are not many of passages of lorem ipsum available alteration in some form. Donec scelerisque dolor id nunc dictum, interdum gravida mauris rhoncus. Aliquam at ultrices nunc. In sem leo, fermentum at lorem in, porta finibus mauris. Lorem ipsum dolor sit amet, conse ctetur adipisicing elit sed do eiusm od tempor ut labore. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctornisi elit consequat ipsum. Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the new design printng and type setting Ipsum Take a look at our round up of the best shows coming soon to your telly box has been the is industrys. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has industr standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of.</p>
                            <p class="text-2">Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry stan when an unknown printer took a galley.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-12">
                <div class="blog-page__load-more">
                    <a href="javascript: history.back();" class="thm-btn">뒤로가기</a>
                </div>
            </div>

        </div>
    </div>
</section>


<%- include ('partials/footer') %>

<script src="assets/js/theme.js"></script>